<ul>
  <% if cart.size > 0 %>
    <% cart.each do |product| %>
      <li> <%= product %> </li>
    <% end %>
  <% end %>
</ul>

Add an item to your cart:
<br>
<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>

  <input name=product>
  <input type=submit value='add to cart'>
<% end %>
